<div class="container">
  <div class="row">
    <div class="col-6" id="articles">
      {{#each articles}}
        <div class="article" data-id="{{id}}">    
          <h2 style="margin-bottom:5px">{{title}}</h2>    
          <a href="{{link}}" target="_blank">{{link}}</a>
          <img src="{{image}}">
        </div>
      {{/each}}
    </div>
  </div>
  <div class="row">
    <div class="col-6" id="notes">
    </div>
  </div>

</div>

